<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.52.0" targetFramework="net451" />
  <package id="Telerik.DataAccess.Core" version="2016.1.224.1" targetFramework="net451" />
  <package id="Telerik.Sitefinity.Core" version="9.1.6113.0" targetFramework="net451" />
</packages>